# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
env/
.env/

# IDE and OS files
.idea/
.vscode/
*.DS_Store

# My personal Data
.other_dev_tools


# ❌ Python 字节码缓存
__pycache__/
*.py[cod]
*$py.class

# ❌ macOS Finder 缓存文件
.DS_Store

# ❌ 项目根目录下的开发工具文件夹
/other_dev_tools/